.nav {
	margin-left:220px;
}
.nav a{
	text-decoration:none;
}
.content{
	margin-top:40px;
}
.content .title{
	font-size:25px;
	margin-left:350px;
}
.xi{
	margin-left:280px;
	margin-top:20px;
}
.yes{
	margin-left:200px;
	margin-top:30px;
	line-height:20px;
}