body{
	margin:0px;
	padding:0px;
	font-size:12px;
}
div{
	border:0px solid black;
}
#container{
	width:1000px;
	margin:auto;
}
#container .head{
	background-image:url(../img/logo.jpg);
	background-size:contain;
	background-repeat:no-repeat;
	height:100px;
	background-position:center left;
	margin-bottom:5px;
}
#container .head ul{
	list-style-type:none;
	text-decoration:none;
	margin-top:45px;
	float:right;
}
#container .head ul li{
	float:left;
	margin-right:50px;
}
#container .head ul li a{
	display:block;
	width:80px;
	height:30px;
	color:black;
	font-size:20px;
	text-decoration:none;
	position:relative;
	text-align:center;
}
.footer{
	margin-top:20px;
	color:#86A7D4;
	text-align:center;
	height:20px;
	line-height:20px;
	border-top:1px solid #E8E8E8;
}