.nav {
	margin-left:220px;
}
.nav a{
	text-decoration:none;
}
.content{
	width:800;
	margin:0 auto;
}
.xx{
	height:30px;
	margin-top:20px;
	border-bottom:1px dotted gray;
	padding-bottom:10px;
	line-height:50px;
}
.xx span{
	float:right;
	color:gray;
}