.picshow{
	background-image:url(../img/picshow.jpg);
	height:200px;
	background-repeat:no-repeat;
	background-size:cover;
}
.pic{
	height:450px;
	padding-top:20px;
	background-color:#F1F0EE;
}
.pic span{
	font-size:18px;
	text-align:center;
	margin-left:20px;
	color:#BC8F8F;
	height:20px;
	width:100px;
}
.pic .x{
	width:320px;
	float:left;
	margin-right:20px;
	height:400px;
	margin-top:5px;
}
.pic .xx{
	width:320px;
	float:right;
	height:400px;
	margin-top:5px;
}
.content{
	margin-top:20px;
	background-color:white;
	width:1000px;
}
.content .txt{
	font-size:25px;
	margin-right:40px;
}
.content .atc{
	height:300px;
	float:left;
}
.content .atc .title{
	margin-top:20px;
	margin-left:30px;
}
.content .atc .title a{
	font-size:15px;
	color:red;
	text-decoration:none;
}
.content .bad{
	background-image:url(../img/line.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:100%;
}
.content .atc .cpic{
	background-image:url("../img/cpic.jpg");
	width:250px;
	height:200px;
	margin-top:20px;
	margin-left:30px;
	float:left;
}
.content .atc .cc{
	height:200px;
	width:300px;
	color:#756F71;
	margin-left:300px;
	margin-top:40px;
}
.content .atc .cc a{
	text-decoration:none;
	display:block;
	width:70px;
	height:30px;
	background-color:#FD8A61;
	margin-top:80px;
	margin-left:250px;
	text-align:center;
	line-height:30px;
	color:white;
}
.content .ver{
	height:300px;
	width:15px;
	background-image:url(../img/_line.jpg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:100%;
	margin-left:640px;
}
.content .ver img{
	margin-left:100px;
	padding-top:50px;
}